* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-card {
  margin: 10px auto;
  max-width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  margin: 5px;
  width: 28vw;
}
@media only screen and (max-width: 600px) {
  .card {
    margin: 10px auto;
    width: 80vw;
  }
}
.pagination {
  margin: 10px auto;
  max-width: 90vw;
  display: flex;
  justify-content: space-between;
}
.header{
  background-image: url('https://source.unsplash.com/1600x900/?media');
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  margin: 5px auto;
  width: 90vw;
  text-align: center;
}
.Heading {
  background: #121fcf;
  background: -webkit-radial-gradient(
    circle farthest-corner at center center,
    #121fcf 0%,
    #cf1512 100%
  );
  background: -moz-radial-gradient(
    circle farthest-corner at center center,
    #121fcf 0%,
    #cf1512 100%
  );
  background: radial-gradient(
    circle farthest-corner at center center,
    #121fcf 0%,
    #cf1512 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 70px;
  text-align: center;
}
.navbar {
  background: #fc5c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6a82fb,
    #fc5c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6a82fb, #fc5c7d);
}
